<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/Copy_of_danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [37]:
#nyc_payroll.info()
nyc_payroll.mean()

<ipython-input-37-0941feb81c4d>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  nyc_payroll.mean()

Fiscal Year            2022.500000
Payroll Number          577.804000
Base Salary           49809.525245
Regular Hours           616.458680
Regular Gross Paid    43918.969815
OT Hours                 70.948525
Total OT Paid          4032.891630
Total Other Pay        4289.623745
Total Compensation    53842.416875
dtype: float64

In [ ]:
nyc_payroll.sort_values(["Agency Name"])

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [4]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

     First Name  Last Name  Base Salary  Total OT Paid
433     MICHAEL    BIMONTE     233094.0            0.0
61       BEDROS  BOODANIAN     215861.0            0.0
1378     ARVIND     SOHONI     215000.0            0.0
1469     ANDREW     KAPLAN     195000.0            0.0
73     VICTORIA       RICE     187530.0            0.0
858      JOSEPH   PILEWSKI     180450.0            0.0
1379     SAMUEL      DAVID     180000.0            0.0
425      KARINA    JIMENEZ     178000.0            0.0
74     JOYCELYN       NEDD     177113.0            0.0
352    JEANETTE     VARGAS     176947.0            0.0

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [5]:
# Add a variable to the dataframe that calculates total compensation
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
# Select only the required variables from the dataframe and assign them to a new (sub) dataframe
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid', 'Total Compensation']]
# Set the index on a new column that will be useful for further data wrangling
sub_nyc_payroll.set_index("Agency Name", inplace = True)
# Extract observations where the agency name is DEPARTMENT OF EDUCATION ADMIN
sub_nyc_payroll.loc[ "DEPARTMENT OF EDUCATION ADMIN" ]

,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
Agency Name,,,,,,
DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.0,0.00,53820.00
DEPARTMENT OF EDUCATION ADMIN,JENNA,VARNAUSKAS,OCCUPATIONAL THERAPIST,75381.0,0.00,75381.00
DEPARTMENT OF EDUCATION ADMIN,CHRISTINA,GRANQUIST,PHYSICAL THERAPIST,80270.0,0.00,80270.00
DEPARTMENT OF EDUCATION ADMIN,SANDRA,QUIAH,COMMUNITY ASSOCIATE,55323.0,0.00,55323.00
DEPARTMENT OF EDUCATION ADMIN,SHATARA,EARL,PROCUREMENT ANALYST,62055.0,0.00,62055.00
...,...,...,...,...,...,...
DEPARTMENT OF EDUCATION ADMIN,DEISMOND,ROSA,COMMUNITY COORDINATOR,82170.0,1602.93,83772.93
DEPARTMENT OF EDUCATION ADMIN,SERIDE,READ,COMMUNITY COORDINATOR,67834.0,639.27,68473.27
DEPARTMENT OF EDUCATION ADMIN,ELISA,CORADO DERAS,COMMUNITY ASSISTANT,40765.0,0.00,40765.00
DEPARTMENT OF EDUCATION ADMIN,YAZMYN,YEARDE,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,58811.0,0.00,58811.00
DEPARTMENT OF EDUCATION ADMIN,FOLASADE,AKINTUNDE,PHYSICAL THERAPIST,80730.0,0.00,80730.00

### Question 3
- *Using set_index(), change the DataFrame’s index to “Last Name”, then locate the data for a specific last name, say “Doe”, and display their “Agency Name”, “Base Salary”, and “Total OT Paid”.*

In [ ]:
# Assign the dataframe to the variable 'df'
df = nyc_payroll[['Agency Name', 'Last Name', 'Base Salary', 'Total OT Paid']]
# Set the index to the 'Last Name' variable
df.set_index("Last Name", inplace = True)
# Extract the information for the employee with a last name ABURTO
df.loc[ "ABURTO" ]

Agency Name      NYC EMPLOYEES RETIREMENT SYS
Base Salary                           76587.0
Total OT Paid                          694.62
Name: ABURTO, dtype: object

### Question 4
- *Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”. Also, reset the index if you have changed it previously.*

In [43]:
# Reset the index from any previous change
nyc_payroll.reset_index()

df = nyc_payroll[ ['Last Name', 'First Name', 'Regular Gross Paid', 'OT Hours'] ]
#df.sort_values(['Regular Gross Paid'], ascending=False)
avg = df.nlargest(5, 'Regular Gross Paid')

round(avg.loc[:, 'OT Hours'].mean(), 2)
print('The average OT hours for the top 5 employees with the highest regular gross pay is '), round(avg.loc[:, 'OT Hours'].mean(), 2)

The average OT hours for the top 5 employees with the highest regular gross pay is

(None, 6.5)