<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [19]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [ ]:
nyc_payroll.info()

In [ ]:
nyc_payroll.sort_values(["Agency Name"])

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [46]:
# Select the required columns
# Start method chaining with the sort of the Base Salary variable descending
# Display the top 10 rows of the sorted dataframe
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

     First Name  Last Name  Base Salary  Total OT Paid
433     MICHAEL    BIMONTE     233094.0            0.0
61       BEDROS  BOODANIAN     215861.0            0.0
1378     ARVIND     SOHONI     215000.0            0.0
1469     ANDREW     KAPLAN     195000.0            0.0
73     VICTORIA       RICE     187530.0            0.0
858      JOSEPH   PILEWSKI     180450.0            0.0
1379     SAMUEL      DAVID     180000.0            0.0
425      KARINA    JIMENEZ     178000.0            0.0
74     JOYCELYN       NEDD     177113.0            0.0
352    JEANETTE     VARGAS     176947.0            0.0

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*